body{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/funky-lines/funky-lines.png);
    margin: 0;
}

header{
    height : 75px;
    width: 100%;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid #cccccc;   
}

.links{
    display: inline-block;
    width: 270px;
    margin-left: 415px;
}
a{
    position: relative;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin: 7px; 
}
a:hover{
    background-color: #d6d6d6;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding: 12px; 
}
.name{
    height: 45px;
    width: 240px ;
    background-color: #4aaaa5;
    color: white;
    font-size: 35px;
    text-align: center;
    /* margin-left: 15%;
    margin-right: 0; */
    padding: 15px;
    
    display: inline-block;
}
.header-center{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    
}
main{
    height: auto;
    width: 960px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto; 
    overflow: hidden;
    padding: 15px;
    
}
p{
    margin: 15px;
}
.styleline{
    background-color: #cccccc;
    height: 2px;
    width: 97%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
#headshot{
    height: 200PX;
    float: left;
    margin-right: 15px;
}
.preview-img{
    height: 90%;
    width: 90%;
}
.preview{
    width: 33%;
    margin-right: 0;
    float: left;
    padding: 5px;
    
}
.img-text{
    z-index: 2;
    position: relative;
    bottom: 40px;
    background-color: #4aaaa5;
    width: 90%;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    color: #ffffff;
    
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #367c79;
  }
.bottomstyleln{
    height: 10%;
    background-color: #4aaaa5;
}
h6{
    color: #ccc1c1;
    text-align: center;
}
footer{
    height: 75px;
    width: 100%;
    background-color: #707272;
    margin: 0%;
    position: fixed;  
    bottom: 0;
    left: 0;
}